.container {
  display: flex;
  flex-flow: wrap;
}

img {
  max-width:250px;
  max-height:250px;
}

.card {
  margin: 5px;
  height: 320px;
  width: 320px;
}

.card-image {
  height: 255px;
}

figure > img {
  padding-top: 2em;
}

.content {
  text-align: center;
}

.form-group {
  display: flex;
  position: relative;
}

.load-more {
  display: flex;
  align-items: center;
  justify-content: center;
}

.load-more > a {
  min-width: 100px;
}

.btn-search {
  position: absolute;
  right: 10px;
  height: 100%;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.isFixed {
  position: fixed;
  z-index: 1000;
  top: 12px;
}

@media screen and (max-width: 992px) {
  .isFixed {
    position: fixed;
    z-index: 1000;
    top: 12px;
    right: 10px;
  }
}

img.loading {
  background: transparent url("../../../../assets/spinner.gif") no-repeat scroll center center;
  max-width:250px;
  max-height:250px;
}
