<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/search">
      <img src="http://www.stickpng.com/assets/images/5845cd430b2a3b54fdbaecf8.png" width="60" height="60" alt="feelsbadman">
    </a>
  </div>
  <div id="navbarMenu" class="navbar-menu">
    <div class="navbar-start">
      <a routerLink="/search" routerLinkActive="active" class="navbar-item">
        Home
      </a>
      <a routerLink="/favs" routerLinkActive="active" class="navbar-item">
        My Favourites
      </a>
    </div>
  </div>
</nav>
